.ui-page.ui-body-c {
    background: url(Images/Heroes,champs/HotS.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}
body {

}

h1 {
  color: #7685B5;
}

h4 {
  color: #7685B5;
}

#page1.ui-page{
   background: url(Images/Heroes,champs/HotS.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-size:100% 100%;
}
