body {

}
.ui-page.ui-body-c {
    background: url(Images/HotS.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}

h1 {
  color: #7685B5;
}

h4 {
  color: #7685B5;
}

button {
    height: 100px;
    width: 100%;
    padding: 0;
    background-color: #3D1947;
}
