body {
    background:url(Images/Background/HotS.jpg);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}
.ui-page {
    background: transparent !important;
}
.ui-content{
    background: transparent !important;
}

.ui-header {
  background-color: rgb(29, 9, 35) !important;
}

#footer {
  background-color: rgb(50, 22, 61) !important;
}

h1 {
  color: #7685B5;
}

h4 {
  color: #7685B5;
}
